 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: Arial, Helvetica, sans-serif; 
}
body{
  font-size: 16px;
  
}
 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  box-shadow: 0 0 .1rem;
}
form {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.facebook{
  margin-left: .3rem;
}
.Amir{
  font-weight: 500;
}


.search-nav {
  display: flex;
  align-items: center;
  border-radius: 5rem;
  background-color: #F0F2F5;
  padding-left: 10px;
  
}

.input {
  border: none;
  background: none;
  outline: none;
  height: 3rem;
  width: 15rem;
  max-width: 100%;
  font-weight: 500;
  font-size: 1rem;
  padding-left: 10px;
}

.count{
  position: absolute;
  width: 1rem;
  height: 1rem;
  font-size: .8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  top: -9px;
  right: 0;
}

.profile{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  margin: 0 3rem;
}

.right-nav{
  display: flex;
  align-items: center;
  
}

.spacer{
  display: flex;
  flex-grow: .4;
}

.profilepic{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* 
.brand-logo{
  display: flex;
  align-items: center;
}
.middle-class{
  display: flex;
}


.profilepic{
  border-radius: 30px;
}

.search{
  
  border-radius: 10px;
  align-items: center;
  
}
.search input{
  border: none;
  outline: none;
  background-color: #F0F2F5 ;
} */
.plus {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f0f2ff;
  padding: 0.3rem;
  margin-right: .5rem;
}
.right-nav:last-child{
  margin-right: .7rem;
}
.container{
  background-color: #F0F2F5;
  display: grid;
  grid-template-areas: "sidebar-left main-content sidebar-right";
  grid-template-columns:29% 44% 27%;
  height: 90.5vh;
  margin-top: 1rem;
}
.profile-pic{
  width: 40px;
  height: 40px;
}
.plus-flaticon{
  width: 40px;
  height: 40px;
}
.friendspix{
  height: 120px;
  width: 80px;  
}

section{
  display: flex;
  flex-direction: column;
}
.cards{
display: flex;
width: 100%;
margin: 2rem 0;
height: 12rem;
justify-content: space-between;

}
.first-card{
  width: 18%;
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, .1);
}
.first-card img{
  height: 70%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.first-card span{
  height: 20%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
img.plus-flaticon{
  width: 36px;
  height: 36px;
  position: absolute;
  border: 5px solid white;
  border-radius: 50%;
  right: 35%;
  top: 60%;
}
.card{
  width: 18%;

}














.cardbar{
  width: 550px;
  height: 120px;
  background-color:white;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
}
.class{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 0.01rem #F0F2F5 solid ;
  margin-top: 5rem;

}
.mukhtar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: .8rem 0 .5rem 1rem;
}
.class input{
  width: 28rem;
  height: 40px;
  border-radius: 40px;
  padding-left: .5rem;
  background-color: #f5f6f7;
  color: black;
  border: none;
  outline: none;
  margin: .8rem 0 .5rem 1rem;
}
.class input:hover{
  background-color: #f0f2f5;
  cursor: pointer;
}
.cardbar  a input{
  display: flex;
  
} 
#downline{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
#downline a{
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
  justify-content: center;
  text-decoration: none;
  color: grey;
}
#downline a:hover{
  background-color: #f5f6f7;
}
.p{
  margin-left: .5rem;
}




