*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.container{
  background: linear-gradient(to bottom,#FEFEFE 24%,#E5E8F1 60%, #D7DBEA);
  height: 100vh;
}

nav{
  background-color: #3B5998;
  height: 86px;
  width: 100vw;
}

.content{
  color: #FFFFFF;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  max-width: 1000px;
}

.logo{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  
}

.facebook{
  font-style: italic;
  font-size: 2rem;
}

input{
  background-color: #E8F0FE;
}

.form-field{
  font-size: .7rem;
  display: flex;
  align-items: center;
}

.text{
  height: 64px;
  flex-direction: column;
  justify-content: flex-start;
}

.login{
  margin: 0 1rem;
  height: 64px;
  flex-direction: column;
  justify-content: flex-start;
}

.login p, .text p{
  margin: 0 0 .8rem;
}

input.login-password{
margin-bottom: .8rem;
}

.forgot{
  color: #9CB4D8;
}

.button{
  background-color: #4267B2;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  margin: 0 .2rem;
}

main{
  display: flex;
  margin: 0 auto;
  width: 100vw;
  height: 100%;
  max-width: 1000px;
}

.gradient{
  margin-top: 2.5rem;
}

.content-text{
  color: #0E385F;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
}

.creating-account h1{
   font-size: 2.25rem;
   font-weight: 600;
   margin: 1.5rem 0 .5rem 0;
   color: #333333;
}

.creating-account p{
  font-size: 1.1875rem;
  margin: 1rem 0;
  font-weight: normal;
  color: #8B8E93;
}

.first-name{
  width: 175px;
  height: 30px;
  border-color: #bdc7d8;
  border-radius: 5px;
  font-size: 1.125rem;
  padding: 8px 10px;
  margin-bottom: .8rem;
  background-color: transparent;
}

.Surname{
  width: 175px;
  height: 30px;
  border-color: #bdc7d8;
  border-radius: 5px;
  font-size: 1.125rem;
  padding: 8px 10px;
  background-color: transparent;
}

.address-form{
  display: flex;
  flex-direction: column;
}
.address{
  width: 350px;
  height: 30px;
  border-color: #bdc7d8;
  border-radius: 5px;
  margin-bottom: .8rem;
  font-size: 1.125rem;
  color: #BABABA;
  padding: 8px 10px;
  font-weight: 200;
  background-color: transparent;
}
.checkbox p{
  color: #90949C;
  margin-bottom: .5rem;
  margin-top: .3rem;
}


.radio-buttons{
  display: flex;
  flex-direction: column;
}
.radio-buttons label{
  color: #90949C;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.radio-buttons .flex input{
    margin-left: .9rem;
}

.radio-buttons .flex p{
  margin-left: .3rem;
}

.flex{
  display: flex;
  margin-bottom: .7rem;
 }
 .font{
   font-size: 0.6875rem;
   width: 4px;
 }
 .font a{
  color: #385898;
  cursor: pointer;
  text-decoration: none;
 }

 .sign-up{
  margin-top: 10px;
  margin-bottom: 10px;
}
 
 .sign-up input{
   font-size: 1.1875rem;
  min-width: 194px;
  padding: 7px 20px;
  text-align: center;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border: none;
  color: white;
 }

 .page{
  font-size: 0.7875rem;
  font-weight: 400;
 }
 
 .page a{
  color: #385898;
  cursor: pointer;
  text-decoration: none;
 }

 .language-selector{
  display: flex;
  align-items: center;
  height: 100%;
 }

 #Page-footer{
   display: flex;
   font-size: 0.75rem;
 }

 ##Page-footer p{
    color: #887388;
 }

 #Page-footer a{
   margin-left: 1rem;
 }

 .contentcurve{
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
 }

 .pagefooter{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
 }
